* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  
}

.square {
  background-color: #b11b1b;
  box-shadow: 0 0 2px #000;
  height: 50px;
  width: 16px;
  margin: 2px;
  transition: 5s ease;
}

.square:hover {
  transition-duration: 0s;
}

.RegesoMenu a{
  display: block;
  width: 100%;
  max-width: 300px;
  text-decoration: none;
  background: #ff7b00;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Efecto hover */
.RegesoMenu a:hover {
  background: #ff9b33;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}